.banner{
    position: relative; /*ligado ao position absolute do titulo*/
}

.banner__imagem{
    /* ou pode se usar ----> background: url('../../img/banner.jpg') no-repeat center / cover;  <---- */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('../../assets/img/banner.jpg');
    width: 100%;
    height: calc(100vh - 72px);
}

.banner__titulo{
    font-family: pacifico, cursive;
    color: #fdfdfd;
    position: absolute;
    left: 50%;
    font-size: 81px;
    text-shadow: 0 4px 4px #000000d0;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 100%;
}

@media screen and (min-width: 0){
    .banner__titulo{
        font-size: 3rem;
    }

    .banner__imagem{
        height: calc(100vh - 51px);
    }
}

@media screen and (min-width: 768px){
    .banner__titulo{
        font-size: 5.0625rem;
    }

    .banner__imagem{
        height: calc(100vh - 72px);
    }
}